<ul>
 <li>
    <a href="{% url 'reservation_list' %}"
       class="{% if request.resolver_match.url_name == 'reservation_list' %}active{% endif %}">
      예약조회
    </a>
  </li>
    <li>
    <a href="{% url 'my_qna_list' %}"
       class="{% if request.resolver_match.url_name == 'my_qna_list' %}active{% endif %}">
      QnA 이력조회
    </a>
  </li>

  <li>
    <a href="{% url 'profile_edit' %}"
       class="{% if request.resolver_match.url_name == 'profile_edit' %}active{% endif %}">
      회원 정보 수정
    </a>
  </li>
  <li>
    <a href="{% url 'favorite_hospitals' %}"
       class="{% if request.resolver_match.url_name == 'favorite_hospitals' %}active{% endif %}">
      즐겨 찾는 병원
    </a>
  </li>
  <li>
    <a href="{% url 'account_withdraw' %}"
       class="{% if request.resolver_match.url_name == 'account_withdraw' %}active{% endif %}">
      계정 탈퇴
    </a>
  </li>
</ul>
