{% extends "mypage/base_mypage.html" %}
{% load static %}

{% block mypage_content %}
    <link rel="stylesheet" href="{% static 'mypage/css/account_withdraw.css' %}">

    <h2>계정 탈퇴</h2>

    <!-- 상단 경고 박스 -->
    <div class="withdraw-notice">
        <p>
            회원 탈퇴하시면 회원정보는 모두 파기되며, 회원으로 가능한 온라인 서비스 사용이
            불가능합니다.
        </p>
        <p>
            재가입 시, 이전 기록은 조회할 수 없으므로 유의하시기 바랍니다.
        </p>
    </div>

    <form id="withdrawForm" method="post">
        {% csrf_token %}

        <!-- 탈퇴사유 -->
        <div class="form-group">
            <label class="form-label">탈퇴사유</label>
            <div class="reason-list">
                <label>
                    <input type="radio" name="reason" value="아이디 변경" required>
                    아이디 변경을 위해서
                </label>
                <label>
                    <input type="radio" name="reason" value="이용하지 않음">
                    더 이상 이용하지 않거나, 이용하지 못하게 되어서
                </label>
                <label>
                    <input type="radio" name="reason" value="정보 부족">
                    필요한 &amp; 유용한 정보가 없어서
                </label>
                <label>
                    <input type="radio" name="reason" value="개인정보 우려">
                    개인정보 유출이 우려되어서
                </label>
            </div>
        </div>
         {% if not is_kakao_user %}
        <!-- 비밀번호 확인 -->
        <div class="form-group">
            <label class="form-label" for="password">비밀번호</label>
            <input type="password" id="password" name="password" required>
            {% if error %}
                <p class="error-text">{{ error }}</p>
            {% endif %}
        </div>
        {% endif %}
        <!-- 버튼 -->
        <div class="withdraw-actions">
            <button type="submit" class="btn-withdraw">탈퇴</button>
            <button type="button" id="btnCancel" class="btn-cancel">취소</button>
        </div>
    </form>
{% endblock %}

{% block extra_js %}
<script src="{% static 'mypage/js/account_withdraw.js' %}"></script>
{% endblock %}
