{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <link rel="icon" href="{% static 'core/img/favicon.png' %}" type="image/png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>의사 화면 대시보드</title>
    <link rel="stylesheet" href="{% static 'emr/css/doctor_screen_dashboard.css' %}">
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.css' rel='stylesheet' />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <!-- fullcalendar 언어 CDN -->
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/locales-all.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.0/chart.umd.min.js"></script>
    <script>
        let holidays = "{{ holidays | escape }}";
        let medical_record_chart = "{{ medical_record_chart | escape }}";
        let lab_orders_chart = "{{ lab_orders_chart | escape }}";
        let treatment_chart = "{{ treatment_chart | escape }}";
        const daily_medical_record_completed_count = "{{ daily_medical_record_completed_count }}";
        const daily_reservation_count = "{{ daily_reservation_count }}";
        const doctor_id = "{{ doctor.doctor_id }}";

        function htmlDecode(input) {
            const doc = new DOMParser().parseFromString(input, "text/html");
            return doc.documentElement.textContent;
        }

        holidays = JSON.parse(htmlDecode(holidays));
        medical_record_chart = JSON.parse(htmlDecode(medical_record_chart));
        lab_orders_chart = JSON.parse(htmlDecode(lab_orders_chart));
        treatment_chart = JSON.parse(htmlDecode(treatment_chart));
    </script>
</head>
<body>
      {% include "core/_header.html" %}

    <div class="dashboard-container">

        <div class="card doctor-profile">
            <h3>나의 정보</h3>
            <div class="profile-content">
                {% if doctor.profil_url %}
                    {% if doctor.profil_url|slice:":4" == "http" %}
                        <img src="{{ doctor.profil_url }}" alt="의사 이미지">
                    {% else %}
                        <img src="/media/{{ doctor.profil_url }}" alt="의사 이미지">
                    {% endif %}
                {% else %}
                    <img src="{% static 'core/img/default_profile.png' %}" alt="의사 이미지">
                {% endif %}
                <p>성명: <strong>{{ doctor.user.name }}</strong></p>
                <p>나이: <strong>{{ doctor.user.resident_reg_no | calculate_age_from_rrn }}세</strong></p>
                <p>근무병원: <strong>{{ doctor.hos.name }}</strong></p>
                <p>담당과: <strong>{{ doctor.dep.dep_name }}</strong></p>
            </div>

            <br><br>

            <h3>환자 검색</h3>
                <div class="search-container">
                    <input type="text" id="searchText">
                    <button onclick="toPatientSearch();">검색</button>
                </div>
            <p class="search-desc">현재 재직 중인 병원 내 환자만 조회 가능합니다.</p>
        </div>

        <div class="card calendar">
            <h3>진료 예약 현황</h3>
            <div style="height:100%">
                <div id="calendar"></div>
            </div>
        </div>

        <div class="card patient-list" id="patinetList">
            <h3>예약 환자 ({{ users | length }}명)</h3>
            {% for user in users %}
                <div class="patient-list-item" onclick="toMedicalRecord('{{ user.user.user_id }}', '{{ user.slot.slot_id }}', '{{ user.slot.slot_date|date:'Y-m-d' }}', '{{ user.reservation_id }}')">
                    <h4>성명: {{ user.user.name }}</h4>
                    <p>생년월일: {{ user.user.resident_reg_no | rrn_to_birthdate }} | 성별: {% if user.user.gender == 'F' %}여{% else %}남{% endif %}</p>
                    <p>예약시간: {{ user.slot.slot_date | date:"Y-m-d" }} {{ user.slot.start_time | time:"H:i:s" }}</p>
                </div>
            {% endfor %}
        </div>

        <div class="card memo">
            <h3>메모</h3>
            <textarea id="doctorMemo" onblur="saveMemo()">{% if doctor.memo != None %}{{doctor.memo}}{% endif %}</textarea>
            <p style="font-size: 12px; color: #28a745; text-align: right;">(마우스 커서 이탈 시 자동 저장)</p>
        </div>

        <!-- <div class="card patient-search">
            
        </div> -->


        <div class="card chart-weekly">
            <h3>7일간 환자의 진료 및 오더 통계</h3>
            <div class="chart-container">
                <div class="chart-placeholder">
                    <canvas id="dailyStatsChart" width="600px" height="130vh"></canvas>
                </div>
            </div>
        </div>

        <div class="card chart-daily">
            <h3>오늘 진료 환자 통계</h3>
            <div class="chart-placeholder">
                    <canvas id="dailyMedicalRecordChart" height="130vh"></canvas>
            </div>
        </div>

    </div>

    <script src="{% static 'emr/js/doctor_screen_dashboard.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const ctx = document.getElementById('dailyStatsChart').getContext('2d');
            const ctxDoughnut = document.getElementById('dailyMedicalRecordChart').getContext('2d');
            const dates = getLastSevenDays();
            const medical_record_chart_data = [];
            const lab_orders_chart_data = [];
            const treatment_chart_data = [];
            
            for (date of dates) {
                const foundMedicalChart = medical_record_chart.find(item => item.labels == date);
                const foundLabChart = lab_orders_chart.find(item => item.labels == date);
                const foundTreatmentChart = treatment_chart.find(item => item.labels == date);

                if (foundMedicalChart) {
                    medical_record_chart_data.push(foundMedicalChart.data);
                } else {
                    medical_record_chart_data.push(0);
                }

                if (foundLabChart) {
                    lab_orders_chart_data.push(foundLabChart.data);
                } else {
                    lab_orders_chart_data.push(0);
                }

                if (foundTreatmentChart) {
                    treatment_chart_data.push(foundTreatmentChart.data)
                } else {
                    treatment_chart_data.push(0)
                }
            }

            var chart = new Chart(ctx, {
                
                // The type of chart we want to create
                type: 'bar',
            
                // The data for our dataset
                data: {
                    labels: dates,
                    datasets: [{
                        label: '진료',
                        type : 'line',         // 'line' type
                        fill : false,         // 채우기 없음
                        lineTension : 0.2,  // 0이면 꺾은선 그래프, 숫자가 높을수록 둥글해짐
                        pointRadius : 0,    // 각 지점에 포인트 주지 않음
                        backgroundColor: 'rgb(255, 153, 0)',
                        borderColor: 'rgb(255, 153, 0)',
                        data: medical_record_chart_data,
                    }, {
                        label: '검사',
                        type : 'line',
                        fill : false,
                        lineTension : 0.2,
                        pointRadius : 0,
                        backgroundColor: 'rgb(255, 204, 0)',
                        borderColor: 'rgb(255, 204, 0)',
                        data: lab_orders_chart_data,
                    },  {
                        label: '치료',
                        type : 'line',
                        fill : false,
                        lineTension : 0.2,
                        pointRadius : 0,
                        backgroundColor: 'rgb(68, 175, 229)',
                        borderColor: 'rgb(68, 175, 229)',
                        data: treatment_chart_data,
                    }]
                },
                options: {
                    responsive: false,
                },
            });

            var chartDoughnut = new Chart(ctxDoughnut, {
                type: 'doughnut',
                data: {
                    labels: ['진료 완료', '진료 대기'],
                    datasets: [{
                        data: [Number(daily_medical_record_completed_count), Number(daily_reservation_count)],
                        backgroundColor: [
                            'rgb(88, 140, 255)',
                            'rgb(153, 102, 255)',
                        ]
                    }]
                },
                options: {
                    responsive: false,
                },
            })
        })
        
    </script>
</body>
</html>
