<!-- templates/social_auth/kakao_close_popup.html -->

<!doctype html>
<html lang="ko">
<head>
  <link rel="icon" href="{% static 'core/img/favicon.png' %}" type="image/png">
  <meta charset="utf-8">
  <title>카카오 로그인 완료</title>
</head>
<body>
<script>
  (function () {
    var url = "{{ redirect_url|escapejs }}";

    if (window.opener && !window.opener.closed) {
      try {
        if (url) {
          window.opener.location.href = url;
        } else {
          window.opener.location.reload();
        }
      } catch (e) {}

      window.close();
      return;
    }

    if (url) {
      window.location.href = url;
    } else {
      window.location.href = "/";
    }
  })();
</script>
</body>
</html>
