{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <link rel="icon" href="{% static 'core/img/favicon.png' %}" type="image/png">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0">
  <title>QnA - CareBridge</title>

  <link rel="stylesheet" href="{% static 'qna/css/m_qna_common.css' %}">
  <link rel="stylesheet" href="{% static 'qna/css/m_qna_list.css' %}">
</head>

<body class="has-footer">
  {% include "core/_header.html" %}
  
  <main class="qna-main">
    <div class="qna-container">

      <div class="qna-header">
        <a href="{% url 'qna:qna_list' %}" class="qna-title qna-title-link">QnA</a>
        <a href="{% url 'qna:qna_write' %}" class="btn-write">문의하기</a>
      </div>

      <div class="qna-search">
        <form method="post" action="{% url 'qna:qna_list' %}" class="search-form">
          {% csrf_token %}
          <input type="text" name="search" value="{{ search_keyword|default:'' }}" placeholder="제목 또는 내용으로 검색" class="search-input">
          <button type="submit" class="btn-search">검색</button>
        </form>
      </div>

      <div class="qna-scroll-box">
        <div class="scroll-content">
          {% comment %} FAQ : 일반회원용 {% endcomment %}
          <section class="faq-section">
            <h2 class="faq-title">자주 묻는 질문</h2>

            <div class="faq-list">

              <details class="faq-item">
                <summary>회원 아이디를 변경 하고 싶어요.</summary>
                <p>회원 아이디는 고유 값으로 생성 후 변경이 어렵습니다.</p>
              </details>

              <details class="faq-item">
                <summary>회원 탈퇴는 어떻게 하나요?</summary>
                <p>마이페이지 &gt; 회원정보 수정 &gt; 회원탈퇴를 통해 진행할 수 있습니다.</p>
              </details>

              {% comment %} 예약 {% endcomment %}
              <details class="faq-item">
                <summary>예약 내역은 어디서 확인하나요?</summary>
                <p>마이페이지 &gt; 예약 내역에서 확인할 수 있습니다.</p>
              </details>

              <details class="faq-item">
                <summary>예약 변경이나 취소가 가능한가요?</summary>
                <p>진료 10분 전까지 마이페이지에서 변경 또는 취소할 수 있습니다.</p>
              </details>

              {% comment %} 개인정보 {% endcomment %}

              <details class="faq-item">
                <summary>개인정보는 안전하게 보호되나요?</summary>
                <p>관련 법령에 따라 개인정보를 안전하게 관리하고 있습니다.</p>
              </details>

              <details class="faq-item">
                <summary>개인정보를 제3자에게 제공하나요?</summary>
                <p>이용자의 동의 없이 제3자에게 제공하지 않습니다.</p>
              </details>
            </div>
          </section>
        </div>
      </div>

      {% include 'qna/partials/qna_table.html' %}

      {% include 'qna/partials/qna_pagination.html' %}
    </div>
  </main>

  {% include "core/footer.html" %}

  <script src="{% static 'qna/js/m_qna_common.js' %}"></script>
  <script src="{% static 'qna/js/m_qna_list.js' %}"></script>
</body>
</html>

