{% load static %}

<header class="header">
  <link rel="stylesheet" href="{% static 'core/css/_header.css' %}">
  <div class="header-inner">
    <div class="logo">
        {% with role=request.session.role %}
            {% if role == 'PATIENT' %}
                <a href="{% url 'home' %}">
            {% elif role == 'DOCTOR' %}
                <a href="{% url 'doctor_dashboard' %}">
            {% elif role == 'ADMIN' %}
                <a href="{% url 'admin_dashboard' %}">
            {% elif role == 'HOSPITAL' %}
                <a href="{% url 'hospital_dashboard' %}">
            {% else %}
                <a href="{% url 'home' %}">
            {% endif %}
                <img src="{% static 'core/img/logo_2.png' %}" alt="" style="width:150px; margin-top:0px; vertical-align: top;">
            </a>
        {% endwith %}
    </div>

    <!-- 햄버거 버튼 -->
    <button class="menu-toggle" type="button" aria-label="메뉴 열기">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <div class="nav-wrapper">
{% if request.session.role != 'DOCTOR' and request.session.role != 'ADMIN' and request.session.role != 'HOSPITAL'%}
<nav class="nav">
    <a href="{% url 'emergency_main' %}">응급실 조회</a>
    <a href="{% url 'reservation_main' %}">병원 예약</a>
    <a href="{% url 'qna:qna_list' %}">QnA</a>
    <a href="{% url 'newsletter_list' %}">메디컬 레터</a>
    <a href="{% url 'infectious_stat' %}">감염병 통계 보기</a>
</nav>
{% endif %}
      <div class="util">
        {% if request.session.username %}
            <span class="greeting">{{ request.session.username }}님 안녕하세요</span>
            <span class="separator">|</span>
            {% if request.session.role == 'PATIENT' %}
              <a href="{% url 'reservation_list' %}">마이페이지</a>
            {% elif request.session.role == 'DOCTOR' %}
              <a href="{% url 'profile_edit' %}">마이페이지</a>
            <span class="separator">|</span>
            {% endif %}
            <form action="{% url 'accounts:logout' %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit" style="background:none; border:none; cursor:pointer;">
                    로그아웃
                </button>
            </form>
        {% else %}
            <a href="{% url 'accounts:login' %}">로그인</a>
        {% endif %}
      </div>
    </div>
  </div>

</header>
<script>
  const KAKAO_LOGIN_URL = "{% url 'kakao_login' %}";
</script>
<script src="{% static 'core/js/_header.js' %}"></script>